# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.*.example

comx.json
redis/

# Docker volumes
nuxt-commerce-*/**
!.gitkeep

# Coverage directory used by tools like istanbul
coverage
*.lcov

# Optional eslint cache
.eslintcache

# Local migration files (I won't be using serverless databases for now )
# If ignoring this folder is wrong, please reach out to me
drizzle